/* Extra small devices small mobile phones */
@media only screen and (max-width: 480px) {
    div.banner {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .gt {
        display: flex;
         flex-direction: column-reverse;
         width: 152%;
    
         margin-left: 53px;
    }
    .fc {
        display: flex;
        flex-direction: column;
        width: 152%;
    }
    .yu {
        display: flex;
        flex-direction: column-reverse;
        width: 152%;
    }
    
    }
    header {
        background-color: hsl(193, 100%, 96%);
        background-image: url(../images/bg-hero-desktop.svg);
        background-repeat: no-repeat;
        height: 151vh;
        width: 174%;
    }
    .logo{
        width: 100%
    }
    .img-box {
        margin-left: 8px;
    }
   .btn2{
       margin-left: 169px;
   }
   
   .tty{
    margin-bottom: 30px;
    padding-left: 0px;
    width: 96%;
    height: 448px;
}
   }
   .tpy{
    margin-left: 93px;
    width: 316px;
    height: 259px;

   }
   .text-w{
       margin-bottom: 15px;
   }
   .tuy {
    width: 316px;
    height: 259px;
    padding-left: 165px;
}
.text-w2{
    padding-left: 58px;
    padding-top: 80px;
    padding-right: 58px;
}
.text-w3{
    padding-right: 50px;
    padding-top: 85px;
    padding-left: 41px;
}
.toy{
    padding-left: 161px;
    width: 316px;
    height: 259px;
}
.text-w4{
    padding-left: 45px;
    padding-top: 47px;
    padding-right: 29px;
}
.intro{
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}
.vbot{
    width: 174%;
    margin-bottom: -80px;
}
.footer-box {
    display: flex; 
    flex-direction: column;
}
footer {
    background-color: hsl(192, 100%, 9%);
    height: 87vh;
    margin-top: 90px;
    width: 174%;
}
.B{
    padding-top: 23px;
    padding-left: 0px;
    margin-left: -31px;
}
.c{
    padding-top: 5px;
    margin-left: -29px;
}
.foot-right {
    float: right;
    padding-right: 90px;
}
.yookos{
    text-align: center;
}
.button-box {
    margin-right: 16px;
}
.title{
    text-align: center;
}
.desc{
    text-align: center;
}
/* Small devices Tablets, Ipads...  */
@media only screen and (max-width: 768px) {
    div.banner {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .gt {
        display: flex;
         flex-direction: column-reverse;
         width: 148%;
    
         margin-left: 53px;
    }
    .fc {
        display: flex;
        flex-direction: column;
        width: 148%;
    }
    .yu {
        display: flex;
        flex-direction: column-reverse;
        width: 148%;
    }
    .header{
        width: 174%;
    }
    .footer{
        width: 174%;
    }
   .tpy{
       margin-left: 129px;
   }
   