body{
    font-size: 16px;
    font-weight: 400;
    font-family:'open sans',sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-image:url(../images/bg-hero-desktop.svg);
    background-color:  hsl(193, 100%, 96%);
    background-repeat: no-repeat;
   
}
.logo{
    width: 73%;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.btn1{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    border:1px solid #fff;
    padding: 5px;
    
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 1px 2px #008b8b14;
}

.banner{
   align-items: center;
   padding: 7px;
}

.title{
    text-align: center;
}
.desc{
    text-align: center;
    
}
.btn2{
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 5px;
    width: 46%;
    margin-left: 25%;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px hsl(208deg 11% 55% / 9%) ;
}


.tty{
   padding: 2%;
    width: 95%;
   
}

.gt{
    border: 1px solid hsl(209deg 32% 77% / 17%);
    border-radius: 10px;
    padding: 10%;
    margin: 10%;
    box-shadow:-2px 1px 5px -4px hsl(208, 11%, 55%);
    
}
.intro{
    text-align: center;
}
.yoi{
    text-align: center;
}
.tuy{
   width: 106%;
}

.fc{
   border: 1px solid hsl(209deg 32% 77% / 17%);
    border-radius: 10px;
    padding: 10%;
    margin: 10%;
    box-shadow:-2px 1px 5px -4px hsl(208, 11%, 55%); 
}
.tpy{
    width: 106%;
}

.yu{
   border: 1px solid hsl(209deg 32% 77% / 17%);
    border-radius: 10px;
    padding: 10%;
    margin: 10%;
    box-shadow:-2px 1px 5px -4px hsl(208, 11%, 55%); 
}



.toy{
   width: 106%;
}




.er{
    border: 2px solid hsl(208deg 11% 55% / 26%);
    margin: -15% 10% 0% 10%;
    border-radius: 10px;
    
    position:relative;
    
    
   
    
    top: 63px;
    background-color: #fff
}
.ender{
    text-align: center;
    
}
.btn3{
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    margin: 0% 0% 5% 19%;
    width: 57%;
    padding: 5px;
    
   
    
    border-radius: 5px;
    box-shadow: 1px 1px 1px 2px hsl(208deg 11% 55% / 9%) ;
}

footer{
    background-color: hsl(192, 100%, 9%);
    
    color: #fff;
    padding: 24% 0% 0% 7%;
}

.yookos{
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .banner-container{
        display: flex;
        justify-content: space-between;
    }
    .banner{
        padding-top:12%;
    }

    .tty{
        width: 61%;
    }
    .gt{
        display: flex;
    }
    .fc{
        display: flex;
        justify-content: space-between;
    }
    .yu{
        display: flex;
    }
    .text-w3 {
       margin-left: 5%;
    }
    .er{
        margin-top: 9%;
    }
    footer{
        padding: 8%;
    }
    .footer-box{
        display: flex;
        justify-content: space-between;
    }
    .foot-right{
        text-align: center;
    }
    
}
