body{
    font-size: 18px;
    font-weight: 400;
    font-family:'open sans',sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-image:url(../images/bg-hero-desktop.svg);
    background-color:  hsl(193, 100%, 96%);
    background-repeat: no-repeat;
    height: 100vh;
}
nav{
    padding: 40px;
    display: flex;
    justify-content: space-between;

}
.img-box{
    margin-left: 56px;
}
.button-box{
    margin-right: 56px;
}
.btn1{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    border:1px solid #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 21px;
    background-color: white;
    box-shadow: 0px 4px 1px 2px #008b8b14;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: 54px;
    margin-right: 54px;
}
.tty{
    width: 600px;
    height: 400px;
}
p desc{
    line-height: 29px;
}
.title{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}
.text-w{
    margin-top: 54px;
}
.btn2{
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    margin-left: 54px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 19px;
}
.ucom{
    background-color: white;
    height: 80vh;
}
.tuy{
    width: 281px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
}
.gt{
    border: 1px solid hsl(209deg 32% 77% / 17%);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 56px;
    margin-right: 56px;
    box-shadow:-2px 1px 5px -4px hsl(208, 11%, 55%);
    display: flex;
    justify-content: space-between;
}
.text-w2{
    padding-left: 70px;
    padding-top: 80px;
}
.tpy{
    width: 281px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 54px; 
}
.fc{
    border: 1px solid hsl(209deg 32% 77% / 17%);
    border-radius: 10px;
    margin-top: 32px;
    margin-left: 56px;
    margin-right: 56px;
    box-shadow:-2px 1px 5px -4px hsl(208, 11%, 55%);
    display: flex;
    justify-content: space-between;
}
.text-w3{
    padding-right:50px;
    padding-top: 85px;
}
.toy{
    width: 281px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
}
.yu{
    border: 1px solid hsl(209deg 32% 77% / 17%);
    border-radius: 10px;
    margin-top: 32px;
    margin-left: 56px;
    margin-right: 56px;
    box-shadow:-2px 1px 5px -4px hsl(208, 11%, 55%);
    display: flex;
    justify-content: space-between; 
}
.text-w4{
    padding-left: 70px;
    padding-top: 80px;
}
.vbot{
    border: 1px solid hsl(209deg 32% 77% / 17%) ;
    margin-top: 50px;
    margin-left: 56px;
    margin-right: 800px;
    border-radius: 10px;
}
.er{
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
